@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&display=swap');

.compartir-ubi-content {
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 40px auto;
  padding: 0 20px;
}

/* Título principal */
.container h1 {
  text-align: center;
    font-size: 1.5rem;
    font-family: 'Merriweather';
    margin-bottom: 24px;
    color: #9ca38e;
}
.contacts-group h3 {
  font-size: 1.2rem;
  font-family: 'Merriweather';
  color: #4d4e3f; /* verde oscuro personalizado */
  margin-bottom: 10px

}

/* Lista de contactos simple, sin bordes innecesarios */
.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  font-size: 1rem;
}

.contact-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  accent-color: #4D4E3F;
  background-color: #F2F2F2; /* verde oscuro personalizado */
}

.contact-name {
  font-weight: 500;
  font-family: 'Georgia', serif;
  font-size: 1.2rem;
  
  color: #3d4037;
}
.share-section {
  margin-top: 20px;
  padding: 100px auto;
  text-align: center;
}

/* Botón para compartir ubicación */
.share-button {
  background-color: #6f7262; /* verde-grisáceo */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  
}

.share-button:hover {
  background-color: #9ca38e;
}


.floating-add-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 52px;
  height: 52px;
  background-color: #9ca38e;
  color: white;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.floating-add-button:hover {
  background-color: #6f7262;
}
h2{
  color: #6f7262;
  font-family: 'Merriweather', serif;
  text-align: center;

}
