@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&display=swap');
#container {
  padding: 30px;
  text-align: center;
  font-family: 'Merriweather';
}

.welcome-section h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #3d4037;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #3d4037;
  margin-bottom: 25px;
  padding: 0 16px;
}

.start-button {
  --background: #9ca38e;
  --color: #F2F2F2;
  font-weight: bold;
  font-size: 17px;
  width: 200px;
  letter-spacing: 2px;
  margin: 0 auto 24px;
  border-radius: 5px;
}


.gallery-section h3 {
  font-size: 22px;
  margin-bottom: 24px;
  color: #3d4037;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.gallery ion-img {
  width: 40%;
  height: 0%;
  object-fit: cover;
  border-radius: 8px;
}
