@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&display=swap');

.menu-content {
  --background: #65695b;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-content ion-list {
  padding-left: 1rem;
  background: #65695b;
}

.menu-content ion-item {
--background: #65695b;
  --color: #d9d9d9;
  font-family: 'Merriweather';
  font-size: 15px;
  margin: 8px 0;
  border-radius: 5px;
}

.menu-content ion-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
}

/* Estilo cuando el modo offline está activo */
ion-item[aria-checked="true"] {
  --background: rgba(var(--ion-color-primary-rgb), 0.1);
}

ion-item[aria-checked="true"] ion-label {
  color: var(--ion-color-primary);
  font-weight: 500;
}