/* Asegúrate que el contenedor directo del mapa sea transparente */
#Comercioss-map {
  background-color: transparent !important;
}

/* Si el mapa está dentro de un ion-content, este también necesita ser transparente en esa área */
/* Podrías necesitar ser más específico si no quieres que todo el ion-content sea transparente */
ion-content.map-page-content { /* Añade una clase a tu ion-content si es necesario */
  --background: transparent !important;
}

 /* Estiilos para el modal de agregar marcador */
.custom-marker-modal {
  --width: 320px;
  --height: 180px;
  --border-radius: 16px;
  --background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-marker-modal .modal-wrapper {
  border-radius: 16px;
  max-width: 320px;
  min-width: 260px;
  margin: auto;
  top: 20% !important;
  height: auto !important;
}